body {
  background-image: url('./assets/confetti.gif');
  background-color: rgb(253, 78, 19);
  color: rgb(1, 42, 82);
  font-size: 100px;
  position: relative;
  font-family: 'Akronim', cursive;
  text-shadow: 2px 2px 7px rgb(253, 78, 19);
}
h1 {
  padding-top: 5%;
  padding-bottom: 50%;
  text-align: center;
  position: relative;
}
#container {
  padding-left: 24vw;
  padding-right: 10vw;
  width: 50vw;
}
div {
  text-align: center;
  width: 100%;
}
#carousel {
  position: relative;
  width: 50vw;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4)
}
#carousel > div {
  position: absolute;
  width: 100%;
}
.topimages {
  width: 100%;
}
#carouselimage {
  position: absolute;
  float: left;
  display: block;
  width: 100%;
}
@media screen and (max-width: 600px) {
  body {
    color: rgb(253, 78, 19);
    background-color: rgb(1, 42, 82);
    text-shadow: 2px 2px 7px rgb(1, 42, 82);
    font-family: 'Akronim', cursive;
    background-image: url('./assets/confetti.gif');
    font-size: 50px;
  }
  h1 {
    padding-top: 15%;
    padding-bottom: 50%;
    text-align: center;
    position: relative;
  }
  #container {
    background-image: url('./assets/confetti.gif');
    padding-top: 20vw;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  div {
    text-align: center;
    width: 100%;
  }
  #carousel {
    position: relative;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4)
  }

  #carousel > div {
    position: absolute;
    width: 100%;
  }
  .topimages {
    width: 100%;
  }
  #carouselimage {
    position: absolute;
    float: left;
    display: block;
    width: 100%;
  }

}
@media screen and (min-width: 601px) and (max-width: 870px) {
  body {
    color: rgb(0, 34, 68);
    background-color: rgb(105, 190, 40);
    text-shadow: 2px 2px 7px rgb(105, 190, 40);
    font-family: 'Akronim', cursive;
    background-image: url('./assets/confetti.gif');
    font-size: 80px;
    overflow: hidden;
  }
  h1 {
    padding-top: 15%;
    padding-bottom: 50%;
    text-align: center;
    position: relative;
  }
  #container {
    padding-top: 6vw;
    background-image: url('./assets/confetti.gif');
    padding-left: 0vw;
    padding-right: 10vw;
    width: 100vw;
  }
  div {
    text-align: center;
    width: 100%;
  }
  #carousel {
    position: relative;
    width: 100%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4)
  }
  #carousel > div {
    position: absolute;
    width: 100%;
  }
  .topimages {
    width: 100%;
  }
  #carouselimage {
    position: absolute;
    float: left;
    display: block;
    width: 100%;
  }

}