body {
  background-image: url('./assets/confetti.gif');
  background-color: rgba(251, 79, 20);
  color: rgba( 0,34, 68);
  font-size: 100px;
  position: relative;
  font-family: 'Akronim', cursive;
  text-shadow: 2px 2px 7px rgba(251, 79, 20)
}
h1 {
  padding-top: 5%;
  padding-bottom: 50%;
  text-align: center;
  position: relative;
}
#container {
  padding-left: 24vw;
  padding-right: 10vw;
  width: 50vw;
  background-image: url('./assets/confetti.gif');
}
div {
  text-align: center;
  width: 100%;
}
#carousel {
  position: relative;
  width: 50vw;
  
  /* height: auto; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4)
}
/* #main > #carousel {
  width: 100%;
} */
#carousel > div {
  position: absolute;
  width: 100%;
}
.topimages {
  width: 100%;
}
#carouselimage {
  position: absolute;
  float: left;
  display: block;
  width: 100%;
}
@media screen and (max-width: 736px) {
  body {
    /* color: rgba(251, 79, 20);
    background-color: rgba( 0,34, 68);
    text-shadow: 2px 2px 7px rgba( 0,34, 68);
    font-family: 'Akronim', cursive;
    font-size: 50px; */
  }
  main {
    color: rgba(251, 79, 20);
    background-color: rgba( 0,34, 68);
    text-shadow: 2px 2px 7px rgba( 0,34, 68);
    font-family: 'Akronim', cursive;
    font-size: 50px;
  }
  h1 {
    padding-top: 15%;
    padding-bottom: 50%;
    text-align: center;
    position: relative;
  }
  #container {
    padding-top: 6vw;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    background-image: url('./assets/confetti.gif');
  }
  /* #confet {
    background-image: url('./assets/confetti.gif');
  } */
  div {
    text-align: center;
    width: 100%;
  }
  #carousel {
    position: relative;
    width: 100%;
    
    /* height: auto; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4)
  }
  /* #main > #carousel {
    width: 100%;
  } */
  #carousel > div {
    position: absolute;
    width: 100%;
  }
  .topimages {
    width: 100%;
  }
  #carouselimage {
    position: absolute;
    float: left;
    display: block;
    width: 100%;
  }

}
@media screen and (max-width: 970px) {
  body {
    color: rgba(251, 79, 20);
    background-color: rgba( 0,34, 68);
    text-shadow: 2px 2px 7px rgba( 0,34, 68);
    font-family: 'Akronim', cursive;
    font-size: 50px;
    overflow: hidden;
  }
  main {
    color: rgba(251, 79, 20);
    background-color: rgba( 0,34, 68);
    text-shadow: 2px 2px 7px rgba( 0,34, 68);
    font-family: 'Akronim', cursive;
  }
  h1 {
    padding-top: 15%;
    padding-bottom: 50%;
    text-align: center;
    position: relative;
  }
  #container {
    padding-top: 6vw;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    background-image: url('./assets/confetti.gif');
  }
  /* #confet {
    background-image: url('./assets/confetti.gif');
  } */
  div {
    text-align: center;
    width: 100%;
  }
  #carousel {
    position: relative;
    width: 100%;
    
    /* height: auto; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4)
  }
  /* #main > #carousel {
    width: 100%;
  } */
  #carousel > div {
    position: absolute;
    width: 100%;
  }
  .topimages {
    width: 100%;
  }
  #carouselimage {
    position: absolute;
    float: left;
    display: block;
    width: 100%;
  }

}